<div class="row">
  <h1>Mario's Kitchen</h1>
  <h3>We're a local farm to table ingredient store,<br>founded by a retired plummer in 2014</h3>
</div>

<div class="row">
  <h2>Products</h2>

  <% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
  <% else %>
  <p>There are no products yet.</p>
  <% end %>
</div>

<p><%= link_to "Create new product", new_product_path %></p>
